<!--
  Generated template for the DateRangePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Date Range</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Start Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="YYYY/MM/DD" [(ngModel)]="startDate" min="2016-05-23">

    </ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label>End Date</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" pickerFormat="YYYY/MM/DD" [(ngModel)]="endDate"
                  min="{{ startDate}}" max="2018-12-31" *ngIf="startDate != null">

    </ion-datetime>
  </ion-item>

  <button ion-button round block (click)="doSearch()">
    Search
  </button>

  <ion-card *ngFor="let rekod of rekodKami">
    <ion-card-header>
      {{ rekod.name }}
    </ion-card-header>
    <ion-card-content>
      {{ rekod.created_at }}
    </ion-card-content>
  </ion-card>
</ion-content>
