<!--
  Generated template for the ArnabKucingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Arnab Kucing</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img src="{{ gambar }}">

  <ion-list>

    <button ion-button round block (click)="showAnimal('Arnab')">
      Arnab
    </button>

    <button ion-button round block (click)="showAnimal('Kucing')">
      Kucing
    </button>

    <button ion-button round block (click)="showAnimal('Buaya')">
      Buaya
    </button>

  </ion-list>
</ion-content>
