<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>-->

  <!--<ion-navbar>-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->
    <!--<ion-title>Login</ion-title>-->
  <!--</ion-navbar>-->

<!--</ion-header>-->


<ion-content padding>
  <img src="assets/imgs/cat.jpg">

  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Username" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <button ion-button round block (click)="doLogin()">
      Login
    </button>

  </ion-list>


</ion-content>
