<!--
  Generated template for the CrudPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Crud</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="Nama" [(ngModel)]="nama"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" placeholder="Umur" [(ngModel)]="umur"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Jantina</ion-label>
      <ion-select [(ngModel)]="jantina">
        <ion-option value="Lelaki">Lelaki</ion-option>
        <ion-option value="Perempuan">Perempuan</ion-option>
      </ion-select>
    </ion-item>

    <button ion-button round block (click)="doAdd()">
      Add
    </button>

    <ion-card style="margin-top: 30px">
      <ion-card-header style="background-color: #fab1a0">
        Kakitangan
      </ion-card-header>
      <ion-card-content>
        <table style="margin-top: 20px">
          <tr *ngFor="let staff of kakitangan" style="border-bottom: 1px solid #dfe6e9">
            <td style="width: 90%">
              <b>{{ staff.nama }}</b> <br>
              {{ staff.jantina }} <br>
              {{ staff.umur }} tahun
            </td>
            <td>
              <button ion-button icon-only clear color="danger" (click)="doAsk(staff)">
                <ion-icon name="trash"></ion-icon>
              </button>
            </td>
          </tr>

          <!--<tr>-->
            <!--<td style="width: 90%">-->
              <!--<b>Siti Aminah Rahman</b> <br>-->
              <!--Perempuan <br>-->
              <!--26 tahun-->
            <!--</td>-->
            <!--<td>-->
              <!--<button ion-button icon-only clear color="danger">-->
                <!--<ion-icon name="trash"></ion-icon>-->
              <!--</button>-->
            <!--</td>-->
          <!--</tr>-->
        </table>
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>
