<!--
  Generated template for the PassParameterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Pass Parameter</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-input type="text" placeholder="My Data" [(ngModel)]="myData"></ion-input>
    </ion-item>


    <button ion-button round block (click)="doSend()">
      Send
    </button>

  </ion-list>
</ion-content>
