<!--
  Generated template for the ChainDropdownPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Chain Dropdown</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label>Country</ion-label>
    <ion-select [(ngModel)]="country" (ionChange)="selectCountry()">
      <ion-option value="{{ country.id }}" *ngFor="let country of countries">
        {{ country.name }}
      </ion-option>
      <!--<ion-option value="Malaysia">Malaysia</ion-option>-->
      <!--<ion-option value="Indonesia">Indonesia</ion-option>-->
      <!--<ion-option value="Singapore">Singapore</ion-option>-->
      <!--<ion-option value="Others">Others.</ion-option>-->
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>State</ion-label>
    <ion-select [(ngModel)]="state"  (ionChange)="selectState()">
      <ion-option value="{{ state.id }}" *ngFor="let state of states">
        {{ state.name }}
      </ion-option>

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>City</ion-label>
    <ion-select [(ngModel)]="city">
      <ion-option value="{{ city.id }}" *ngFor="let city of cities">
        {{ city.name }}
      </ion-option>
    </ion-select>
  </ion-item>

  <hr>

  <ion-item>
    <ion-label>Warna</ion-label>
    <ion-select [(ngModel)]="warna" (ionChange)="showColor()">
      <ion-option *ngFor="let color of colors" value="{{ color.nama }}">
        {{ color.name }}
      </ion-option>
    </ion-select>
  </ion-item>

</ion-content>
