<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button round block (click)="doShowInfo()">
    Show Info
  </button>
  <button ion-button round block color="danger" (click)="doShowInfo2()">
    Show Info
  </button>
</ion-content>
