<!--
  Generated template for the InfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Info</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button ion-button round block (click)="goBack()">
    Back to Dashboard
  </button>
</ion-content>
