<!--
  Generated template for the ResetPasswordPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Reset Password</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <h6 text-center>
      Type your registered email and a password reset
      link will be sent to your mailbox.
    </h6>

    <ion-item style="margin-top: 30px">
      <ion-input type="text" placeholder="Email" [(ngModel)]="email">
      </ion-input>
    </ion-item>

    <button ion-button round block (click)="doReset()">
      Send Reset Password Link
    </button>

  </ion-list>
</ion-content>
